* {
  font-family: "Microsoft YaHei";
  transition: all .3s;
  -webkit-transition: all .3s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}

.banner {
  perspective: 800px;
}

.bg {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 100px auto;
  background: url("http://static.smartisanos.cn/index/img/store/home/banner-3d-item-1-box-1_61bdc2f4f9.png") center no-repeat;
  background-size:100% 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotateY(0deg) rotateX(0deg);
}
.img{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 8px;
  left: 0;
  background: url("http://static.smartisanos.cn/index/img/store/home/banner-3d-item-1-box-3_8fa7866d59.png") center no-repeat;
  background-size:95% 100%;
}
.text{
  position: absolute;
  top:20%;
  right:10%;
  font-size:30px;
  color:#fff;
  text-align:right;
  font-weight:lighter;
}
.copyright{
  position: absolute;
  bottom:10%;
  right:10%;
  font-size:10px;
  color:#fff;
  text-align:right;
  font-weight:lighter;
}
.a {
  -webkit-transform: translateZ(40px);
}
.b {
  -webkit-transform: translateZ(20px);
}
.c {
  -webkit-transform: translateZ(0px);
}

.cursor-image {
  cursor: pointer;
  width: 300px;
  height: 300px;
  background: url(https://pic1.zhimg.com/v2-db870001dde4c9b605b0fedfdd86ce34_b.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition:  .6s all ease-out;
}

.cursor-image:hover {
  /*background-size: 105% 105%;*/
  transform: scale(1.1); 
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

