body {
    margin: 0;
}

/*第一*/
.one {
    background-color: cornflowerblue;
    padding-top: 100px;
}

.one .logo {
    background: url("images/logo.png") no-repeat center;
    height: 186px;
}

.one .text {
    text-align: center;
    margin: 50px 0;
}

.one .list {
    background: url("images/info_1.png") no-repeat center;
    height: 49px;
}

/*第二*/

.tow {
    background-color: green;
}

.tow > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tow .shield {
    width: 480px;
    text-align: center;

}

.tow .info {
    background: url("images/info_2.png") no-repeat center;
    width: 635px;
    height: 309px;

}

/*第三*/
.three {
    background-color: skyblue;
    overflow: hidden;

}

.three > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.three .info {
    background: url("images/info_3.png") no-repeat center;
    height: 278px;
    flex: 1;
}

.three .circle {
    background: url("images/circle.png") no-repeat center;
    height: 449px;
    flex: 1;
}

.three .rocket {
    background: url("images/rocket.png") no-repeat center;
    width: 203px;
    height: 204px;
    position: absolute;
    bottom: -260px;
    left: 0;
}

/*第四*/

.four {
    background-color: midnightblue;
}

.four > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .massage {
    flex: 1;
    position: relative;
    margin-left: 25px;
}

.four .search {
    background: url("images/search.png") no-repeat;
    width: 529px;
    height: 66px;
    position: absolute;
    top: -197px;
    left: 0;

}

.four .text {
    background: url("images/key.png") no-repeat;
    width: 99px;
    height: 22px;
    position: absolute;
    top: -173px;
    left: 15px;

}

.four .result {
    background: url("images/result.png") no-repeat;
    width: 529px;
    height: 0px;
    position: absolute;
    top: -138px;
    left: 0;

}

.four .info {
    flex: 1;
    background: url("images/info_4.png") no-repeat center;
    width: 612px;
    height: 299px;
    margin-right: 25px;
}

/*第五*/
.five {
    background-color: darkslateblue;
    overflow: hidden;
}

.five > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.five .line {
    background-color: #fff;
}

.five .info {
    background: url("images/info_5.png") no-repeat center;
    width: 1077px;
    height: 134px;
}

.five .content {
    background: url("images/toolbar.png") no-repeat top,
    url("images/extra.png") no-repeat bottom right;
    width: 1004px;
    flex: 1;
    position: relative;
}

.content > div {
    position: absolute;
}

.content .top {
    width: 1000px;
    height: 4px;
    top: 0;
    left: 0;
    text-align: center;
}

.content .left {
    height: 600px;
    width: 4px;
    left: 0;
}

.content .right {
    height: 600px;
    width: 4px;
    right: 0;
}

.content .bottom {
    width: 1000px;
    height: 4px;
    bottom: 0;
}


/*动画*/

.one .text img{
    opacity: 0;
    margin: 0 25px;

}

.one.animation .text img{
    opacity: 1;
    margin: 0;
    transition:all 1s;
}

/*二*/
.tow .shield img:nth-child(5){
    transform:translate(400px, 200px) rotateZ(3600deg);
}

.tow.animation .shield img:nth-child(5){
    transition: all 1s;
    transform:translate(0) rotateZ(0deg);
}

/*三*/
.three.animation .rocket{
    transition:all 1s;
    bottom: 220px;
    left: 850px;
}

/*四*/
.four .search,.text,.result{
    transform: translateX(-700px);
}

.four .result{

    transform:translateZ(0px);

}
.four.animation .search,.text,.result{
    transition:all 1s;
    transform: translateX(0px);
}

.four .text{
    width: 0;
}
.four.animation .text{
    transition:all 1s 1.5s;
    transition-timing-function:steps(5);
    width: 99px;
}

.four.animation .massage .result{
    transition:all 1s 2.7s;
    transform:translateX(0px);
    height: 372px;
}

/*五*/

.five .top{
    transform: translateX(-2800px);
}
.five.animation .top{
    transition: all 1s;
    transform: translateX(0px);
}

.five .left{
    transform: translateY(-1800px);
}
.five.animation .left{
    transition: all 1s;
    transform: translateY(0px);
}

.five .right{
    transform: translateY(1800px);
}
.five.animation .right{
    transition: all 1s;
    transform: translateY(0px);
}

.five .bottom{
    transform: translateX(-2800px);
}
.five.animation .bottom{
    transition: all 1s;
    transform: translateX(0px);
}